1. What are the two values of the Boolean data type? How do you write them?  

        - True, False

2. What are the three different types of Boolean operators?   


    1. Comaprision Operators(==,<=,>=,!=, etc...)
    2. Logical Operators(AND, OR, NOT)
    3. In Flow chart(if a > 10)

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

== Truth Table  
x	==	y	Returns  
True	==	True	True  
True	==	False	False  
False	==	True	False  
False	==	False	True  

AND Truth Table  
x	and	y	Returns  
True	and	True	True  
True	and	False	False  
False	and	True	False  
False	and	False	False 

OR Truth Table  
x	or	y	Returns  
True	or	True	True  
True	or	False	True  
False	or	True	True   
False	or	False	False
  
NOT Truth Table  
not	x	Returns  
not	True	False  
not	False	True

In [11]:
# Comaprision operators
a = 10
b = 20

In [17]:
print('Equal operator: ', a == b)
print('Not equal operator: ', a != b)
print('Less than operator: ', a < b)
print('Greter than operator: ', a > b)
print('less than and equal operator: ', a <= b)
print('Greter than and equal operator: ', a >= b)

Equal operator:  False
Not equal operator:  True
Less than operator:  True
Greter than operator:  False
less than and equal operator:  True
Greter than and equal operator:  False

In [20]:
#Logical operator
# and	True if both are true	x and y
# or	True if at least one is true	x or y
# not	True only if false	not x

print((1>3) and (4<5))
print((1>3) or (4<=5))
print(1 != 3)

False
True
True

In [23]:
#In flow control

a = 20
b = 30
if a>b:
    print(f'a is larger then b {a,b}')
else:
    print(f'b is larger then a {a,b}')

b is larger then a (20, 30)

4. What are the values of the following expressions?

In [30]:
print((5 > 4) and (3 == 5))
print(not(5>4))
print((5 > 4) or (3 == 5))
print(not ((5 > 4) or (3 == 5)))
print((True and True) and (True == False))
print((not False) or (not True))

False
False
True
False
False
True

5. What are the six comparison operators?

In [31]:
print('Equal operator: ', a == b)
print('Not equal operator: ', a != b)
print('Less than operator: ', a < b)
print('Greter than operator: ', a > b)
print('less than and equal operator: ', a <= b)
print('Greter than and equal operator: ', a >= b)

Equal operator:  False
Not equal operator:  True
Less than operator:  True
Greter than operator:  False
less than and equal operator:  True
Greter than and equal operator:  False

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [33]:
# For assignment operator
# Assignmet operator is used to assign the value right side
a = 10
print('a value is:' ,a)

a value is: 10

In [37]:
# For eqhal to
# Equal to used to compare the value of any two variable
a = 10
b = 20
print(a == b )

False

In [39]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon&')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [46]:
spam = int(input('Enter the number'))
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!!')

Enter the number3
Greetings!!

9.If your programme is stuck in an endless loop, what keys you’ll press?   

            - cltr + c

10. How can you tell the difference between break and continue?   

break: It stop the run the code on specific condition. 
  
continue: it skipt that particular condition and continue after code or iteration

In [51]:
# Example : break

for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [52]:
#Example : continue
for i in range(1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?  
range(10): Give ending value and start by by defult 0. Whre 10 is excluding. 

range(0,10): Give starting value 0 and ending value 10. where starting value is including and 10 is excluding.  

range(0, 10, 1):  Give starting value 0 and ending value 10. where starting value is including and 10 is excluding. step value is 1

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [62]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [61]:
i = 0
while i <11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [63]:
def spam():
    print('This is spam')
    def bacon():
        print('This is bacon')